<div class="col-sm-12 text-right">
    <form action="{{ path('task_delete', {id: task.id}) }}" method="POST" onsubmit="return confirm('VOcê tem certeza que quer deletar?')">
        <input type="hidden" name="_method" value="DELETE">
        <button class="btn btn-danger">Apagar</button>
    </form>
</div>
