<div class="col-sm-12">
    <form action="" method="post">
        <div class="form-group">
            <label for="name">Titulo</label>
            <input type="text" class="form-control" name="name" placeholder="titulo" value="{{ task.name ?? '' }}">
        </div>
        <div class="form-group">
            <label for="description">Descrição</label>
            <textarea class="form-control" name="description" placeholder="Descrição">{{ task.description ?? ""}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Gravar</button>
        <a href="{{ url('task_index') }}" class="btn btn btn-default">Voltar</a>
    </form>
