{% extends "base.html.twig" %}

{% block title %}
    Cria Tarefa
{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <h1>Criar tarefa</h1>
    </div>

    <div class="col-sm-12">
        <form action="http://127.0.0.1:8000/task/new" method="post">
            <div class="form-group">
                <label for="name">Titulo</label>
                <input type="text" class="form-control" name="name" placeholder="titulo">
            </div>
            <div class="form-group">
                <label for="description">Descrição</label>
                <textarea class="form-control" name="description" placeholder="Descrição"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Gravar</button>
        </form>
    </div>
{% endblock %}
