{% extends "base.html.twig" %}

{% block title %}
    Cria Tarefa
{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <h1>Criar tarefa</h1>
    </div>

    {% include 'task/_form.html.twig' %}

    </div>
{% endblock %}
